.main{
  margin: auto;
  text-align: center;
  z-index: -400;
}

#logo{
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  /* height: 100%; */
}

.mouse{
  top:500px;
  left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  padding-top: 10%;
}

h1{
  color: whitesmoke;
  font-size: 40px;
  font-family: 'Aladin', cursive;
}

h2{
  text-align: center;
  font-family: 'Aladin', cursive;
  padding-top: 9%;
}

h3{
  text-align: center;
  font-family: 'Aladin', cursive;
}

h4{
  text-align: center;
  background-image:url("images/c_image.jpg");
  height: 500px;
  background-size: cover;
  padding: 40px;
  color:whitesmoke;
  font-family: 'Aladin', cursive;
}

h5{
  font-family: 'Aladin', cursive; 
}

#serv{
  background-image: url("images/s_image.jpg");
  height:50vh;
  padding:5px;
  font-family: 'Aladin', cursive;
  color:whitesmoke;
  font-weight: 200;
  z-index: -450px;
}

#serv > p{
  text-align: center;
  
}


.text-center>img{
  margin: 10px;
  margin-left: 20px;
}


p{
  letter-spacing: 0px;
  font-size: 16px;
  font-family: 'Aladin', cursive;
  font-size: 20px;
}

#logo>h1{
  font-size: 40px;
  font-weight: 900;
}

/* #form > form-group{
  align-items: center;
 
} */


